[submodule "ext_libs/vcpkg"]
	path = ext_libs/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "ext_libs/pybind11"]
	path = ext_libs/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext_libs/vowpal_wabbit"]
	path = ext_libs/vowpal_wabbit
	url = https://github.com/VowpalWabbit/vowpal_wabbit.git
