_skbuild/
*.so
*.egg-info
__pycache__/
.pytest_cache/
.DS_Store
.mypy_cache/
compile_commands.json
.cache/
docs/build/
docs/source/_generate/
backup/
build/
.ipynb_checkpoints/
benchmarks/*.tar.gz
benchmarks/*.txt
benchmarks/*.cache
benchmarks/*.csv
