include README.md LICENSE
graft src
graft ext_libs/pybind11
include ext_libs/vowpal_wabbit/CMakeLists.txt
graft ext_libs/vowpal_wabbit/cmake
graft ext_libs/vowpal_wabbit/vowpalwabbit
include ext_libs/vowpal_wabbit/ext_libs/ext_libs.cmake
